/**********/
/* Indice */
/**********/

/*
 * - Variables
 * - Estilos generales del sitio
 *    - Formularios
 *
 *    - Header
 *    - Main
 *    - Footer
 * - Paginas internas del sitio
 *    - Página princial
 * - 
*/

/*************/
/* Variables */
/*************/

:root {
    --header-height: 5rem;

    --default-padding: .75rem 1rem;

    --color-primary: darkblue;
    --color-secondary: cornflowerblue;

    --color-dark-gray: #333;
    --color-light-gray: #999;

    --color-hover: springgreen;

}

/*******************************/
/* Estilos generales del sitio */
/*******************************/

* { box-sizing: border-box; }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Como mínimo el sito ocupa el 100% del alto disponible */

    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

/* Formularios */

.form-container {
    display: flex;
    justify-content: center;
    
    padding: 2rem 0;
}

.form-container form {
    width: calc(100% - 2rem);
    max-width: 500px;
}

.form-field, .form-actions {
    margin-top: 1rem;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title {
    text-align: center;
}

label {
    display: block;

    color: var(--color-dark-gray);
    font-size: .9rem;
    margin-bottom: .3rem;
}

input,
textarea,
select {
    width: 100%;
    padding: var(--default-padding);
    
    background-color: white;

    border-radius: 0;
    border: 1px solid var(--color-light-gray);
}

.create-form-input, .edit-form-input {
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    
    background-color: white;

    border-radius: 0;
    border: 1px solid var(--color-light-gray);
}

button,
.button {
    display: inline-block;
    padding: var(--default-padding);
       
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    background-color: var(--color-secondary);
    border: 0;

    transition: all .5s;
}

button:hover,
.button:hover {
    color: black;
    background-color: var(--color-hover);
}

.field-feedback {
    color: rgb(241, 44, 44);
    font-size: 0.8rem
}

/**********/
/* Header */
/**********/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: fixed;
    width: 100%;
    height: var(--header-height);
    
    background-color: white;
    border-bottom: 2px solid darkblue;
}

    .logo {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: darkblue;
}

    .logo span {
        color: cornflowerblue;
    }

    .burguericon {
        display: none;
    }

    .mainnav ul{
        display: flex;
        align-items: center;
        list-style: none;
    }

    .mainnav ul li {
        margin: 0 1rem;
    }

    .mainnav ul li span {
        border: 2px solid darkblue;
    }

    .mainnav .user_image {
        width: 24px;
        border-radius: 50%;
    }

    .searchbar {
        display: flex;
        align-items: center;
    }

    .searchbar input{
        background-color: rgba(128, 128, 128, 0.212);
        border: 2px solid transparent;
        border-radius: 10rem;
        font-weight: bold;
        padding: 0 2rem;
        height: 2rem;
        width: 100%;
        transition: all 0.2s;
    }

    .searchbar input:focus {
        outline: none;
        border: 2px solid cornflowerblue;
        box-shadow: 0 0 10px cornflowerblue;
    }

    .searchbar input::placeholder {
        padding-left: 1.5rem;
        font-style: italic;
    }

    .searchbar span a{
        position: relative;
        color: grey;
        right: 40px;
    }

    .searchbar span:hover a {
        color: cornflowerblue;
    }

    .rbutton {
        color: darkblue;
        background-color: cornflowerblue;
        padding: 10% 15%;
        border-radius: 20px;
        transition: all 0.3s;
    }

    .rbutton:hover {
        background-color: springgreen;
    }

    .button i {
        margin-right: 1rem;
        font-size: 2rem;
    }

/********/
/* Main */
/********/

main {
    flex-grow: 1; /* Si tenemos espacio disponible, el main crece para ocuparlo */ 
    margin-top: var(--header-height); /* Como el header está fixed, tenemos que bajar el main */

}

/**********/
/* Footer */
/**********/

footer {
    border-top: 2px solid darkblue;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 20rem;
    background-color: rgba(128, 128, 128 , 0.212);
}

footer h3 {
    font-style: italic;
}

.footernav {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footernav ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.footernav li {
    margin: .5rem 0;
}

.socialmedia {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    margin-top: 1rem;
}

.icons img {
    margin: 0 .5rem;
    width: 5rem;
    border-radius: 50%;
}

.notice {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice input {
    background-color: rgba(128, 128, 128, 0.212);
    border: 2px solid transparent;
    border-radius: 10rem;
    font-weight: bold;
    margin: 2rem 0;
    padding: 0 2rem;
    height: 2rem;
    width: 70%;
    transition: all 0.2s;
}

.notice input:focus {
    outline: none;
    border: 2px solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.notice input::placeholder {
    padding-left: .5rem;
    font-style: italic;
}

.notice button {
    font-weight: bolder;
    border: none;
    color: darkblue;
    background-color: cornflowerblue;
    padding: .5rem 2rem;
    border-radius: 20px;
    transition: all 0.3s;
    box-shadow: 0 0 10px cornflowerblue;
}

.notice button:hover {
    box-shadow: 0 0 10px springgreen;
    background-color: springgreen;
}

/********************/
/* Páginas internas */
/********************/

/* Home */

.hero {
    margin-top: 4rem;
    background-image: url('/img/hero.jpg');
    background-position: center;
    width: 100%;
    height: 35rem;
}

.hero div {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero div h2 {
    background-color: cornflowerblue;
    color: black;
    font-weight: bolder;
    font-style: italic;
    padding: .5rem 2rem ;
    box-shadow: 0 0 2rem cornflowerblue;
    border-radius: 3rem;
}

/* paygrid */

.paygrid {
    background-color: rgba(128, 128, 128, 0.233);
    width: 100%;
}

.payicons {
    display: flex;
    justify-content: center;
}

.payicons h4 {
    margin: .75rem 3rem;
}

.payicons h4 i {
    margin: 0 1rem; 
    color: darkblue;
}

/* itemgrid */

.itemgrid {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    width: 16%;
    height: 17rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.3s;
    transform: scale(1);
}

.item h3 {
    color: darkblue;
    text-shadow: 0 0 1px darkblue;
    position: relative;
    bottom: 0px;
    transition: all 0.3s;
}

.item:hover {
    box-shadow: 0 0 10px darkblue;
    transform: scale(1.04);
}

.item:hover h3 {
    bottom: 20px;
}

#play {
    background-image: linear-gradient(rgba(100, 148, 237, 0.0) , rgba(100, 148, 237)) , url('/img/playitem.jpg');
    background-position: center;
    background-size: cover;
}

#xbox {
    background-image: linear-gradient(rgba(100, 148, 237, 0.0) , rgba(100, 148, 237)) , url('/img/xboxitem.jpg');
    background-position: center;
    background-size: cover;
}

#switch {
    background-image: linear-gradient(rgba(100, 148, 237, 0.0) , rgba(100, 148, 237)) , url('/img/switchitem.png');
    background-position: center;
    background-size: cover;
}

#pc {
    background-image: linear-gradient(rgba(100, 148, 237, 0.0) , rgba(100, 148, 237)) , url('/img/pcitem.jpg');
    background-position: center;
    background-size: cover;
}

#boffer {
    background-image: linear-gradient(rgba(100, 148, 237, 0.0) , rgba(100, 148, 237)) , url('/img/bestofferitem.jpg');
    background-position: center;
    background-size: cover;
}

#acc {
    background-image: linear-gradient(rgba(100, 148, 237, 0.0) , rgba(100, 148, 237)) , url('/img/accitem.jpg');
    background-position: center;
    background-size: cover;
}

/* REGISTER.HTML */

.register {
    display: flex;
    justify-content: space-around;
    background-image: url('/img/bkground-register.jpg');
    background-size: cover;
    width: 100%;
    height: 38rem;
}

.container {
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(100, 148, 237, 0.1);
    background-color: rgba(100, 148, 237, 0.1);
    margin-top: 5rem;
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-left: 3rem;
    color: white;
}

/* products */

.productsgrid {
    width: 100%;
    height: 120rem;
    display: flex;
}

.filter {

    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 2rem;
    width: 25%;
    height: 100%;
    background-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.filter { 
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.categoryname h2 , .categoryname h5 {
    margin: 0;
    padding: 0; 
}

.categoryname h5 {
    color: white;
    font-style: oblique;
}

.order .selectcont {
    background-color: white;
    border: 1px solid black;
    width: 70%;
    padding: .5rem 1rem;
    font-weight: lighter;
    font-style: oblique;
    border-radius: 20rem;
}

.order select {
    border: none;
    background-color: transparent;
}

.order select:focus {
    outline: none;
}

.categoryitems input {
    margin: .5rem 0;
}

.categoryitems span {
    margin-left: 1rem;
    font-size: 16px;
    font-style: italic;
}

.between {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: .5rem 0;
}

.priceitems input {
    width: 100px;
}

.priceitems input , .priceitems span { margin: 0 .2rem; }

.priceitems span {
    font-style: italic;
}

.productscontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.gridproducts {
    margin-top: 5rem;
    height: 52%;
    width: 90%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.itemproduct {
    background-color: rgba(100, 148, 237, 0.2);
    padding: 10px;
    box-shadow: 0 0 3px grey;
    width: 14rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemproduct img {
    width: 13rem;
}

.footeritem {
    padding: 0;
    margin: 0;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
}

.footeritem h3 {
    font-size: 1.5rem;
    color: black;
    background-color: rgba(128, 128, 128, 0.116);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.116);;
}

.footerinfotitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.footerinfotitle h4 , .footerinfotitle h5{
    margin: 0;
    padding: 0;
}



.footerinfotitle h5 {
    color: rgb(160, 160, 160);
    font-style: italic;
}

/* detail */

.detail {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-container {
    margin: 5rem 2rem;
    padding: 5rem;
    display: flex;
    width: 100%;
}

.detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.detail-img img {
    width: 30rem;
}

.detail-content {
    box-shadow: 0 0 2px cornflowerblue;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.detail-title {
    width: 100%;
}

.detail-price {
    font-size: 3rem;
}

.detail-cont {
    width: 100%;
}

.detail-cont input {
    width: 3rem;
    margin-left: 1rem;
}

.detail-button a{
    background-color: cornflowerblue;
    padding: 1rem 2rem;
    border-radius: 20rem;
    box-shadow: 0 0 5px cornflowerblue;
    transition: all 0.3s;
}

.detail-button a:hover {
    background-color: springgreen;
    box-shadow: 0 0 5px springgreen;
}
