<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    
    <%- include('partials/header.ejs') %>

    <section class="detail">
        <div class="detail-container">
            <div class="detail-img">
                <img src="/img/spiderman.jpeg">
            </div>
            <div class="detail-content">
                <div class="detail-title">
                    <a href="/edit">(ADMIN) EDITAR</a>
                    <h2>Spider-man / Miles Morales</h2>
                    <h4>solo para PS 5</h4>
                    <h2 class="detail-price">$ 3.500</h2>
                </div>
                <div class="detail-game">
                    <h4>sinopsis</h4>
                    <p>La narración continúa desde Marvel's Spider-Man y su contenido descargable The City That Never Sleeps ("La Ciudad Que Nunca Duerme").</p>
                </div>
                <div class="detail-cont">
                    <h4>Cantidad <input type="number" value="1"></h4>
                </div>
                <div class="detail-button">
                    <a href="#">AGREGAR AL CARRITO</a>
                </div>

            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs') %> 
               
</body>
</html>