<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body> 
    <%- include('partials/header.ejs') %>
    
    <main>
        <div class="hero">
            <div><h2><a href="/products/2">Disponible ya!</a></h2></div>
        </div>
        
        <section class="paygrid">
            <div class="payicons">
                <h4><i class="fas fa-credit-card"></i>Tarjetas de crédito / Débito</h4>
                <h4><i class="fab fa-cc-paypal"></i>PayPal</h4>
            </div>
        </section>
        
        <section class="itemgrid">
            <a href="/products/platform/1" class="item" id="play">
                <h3>PLAYSTATION</h3>
            </a>
            <a href="/products/platform/2" class="item" id="xbox">
                <h3>XBOX</h3>
            </a>
            <a href="/products/platform/4" class="item" id="switch">
                <h3>SWITCH</h3>
            </a>
            <a href="/products/platform/3" class="item" id="pc">
                <h3>PC</h3>
            </a>
            <a href="#" class="item" id="boffer">
                <h3>PROMOS</h3>
            </a>
            <a href="/products/category/4" class="item" id="acc">
                <h3>ACCESORIOS</h3>
            </a>
                
        </section>
    </main>

    <%- include('partials/footer.ejs') %>            
</body>
</html>