<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    
    <%- include('partials/header.ejs') %>

    <main class="create-container" id="login-bkg">
        <div class="create-title">
            <h1>Log In</h1>
        </div>
            <div class="create-form-container">
                <div class="create-form">
                    <div>
                        <label for="name">Nombre:</label>
                        <input type="text" id="name">
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" id="password">
                    </div>
                    
                </div>
            </div>
            <div class="create-button">
                <a href="#">Ingresar</a>
            </div>
    </main>

    <%- include('partials/footer.ejs') %>
               
</body>
</html>