<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    
    <%- include('partials/header.ejs') %>

    <section class="create-container" id="register-bkg">
        <div class="create-title">
            <h1>Registrate</h1>
        </div>
            <div class="create-form-container">
                <div class="create-form">
                    <div>
                        <label for="name">Nombre:</label>
                        <input type="text" id="name">
                    </div>
                    <div>
                        <label for="user">Usuario</label>
                        <input type="text" id="user">
                    </div>
                    <div>
                        <label for="pass">Contraseña</label>
                        <input type="password" id="pass">
                    </div>
                    <div>
                        <label for="rpass">Repetila</label>
                        <input type="password" id="rpass">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email">
                    </div>
                    <div>
                        <label for="name">¿Que plataforma usas?</label>
                        <select name="console" id="console">
                            <option value="-">Elegí una opcion</option>
                            <option value="ps">Playstation</option>
                            <option value="xbx">Xbox</option>
                            <option value="swch">Switch</option>
                            <option value="pc">PC</option>
                        </select>
                        
                    </div>
                </div>
            </div>
            <div class="create-button">
                <a href="#">Enviar</a>
                <a href="#">Reiniciar</a>
            </div>   
    </section>

    <%- include('partials/footer.ejs') %>
               
</body>
</html>