<footer>
    <div class="footernav">
        <h3>Mapa del sitio</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Conocenos</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Promos</a></li>
            <li><a href="#">Mi Carrito</a></li>
            <li><a href="/create">(ADMIN) crear productos</a></li>
        </ul>
    </div>
    <div class="socialmedia">
        <h3>Seguinos</h3>
        <div class="icons">
            <a href="#"><img src="/img/fb_icon.png"></a>
            <a href="#"><img src="/img/twitter-icon.png"></a>
            <a href="#"><img src="/img/instagram-logo.webp"></a>
        </div>
    </div>
    
    <div class="notice">
        <h3>Recibí Ofertas</h3>
        <input type="email" placeholder="email">
        <button type="submit">ENVIAR</button>
    </div>
</footer>