<header>
    <div class="logo">
        <h2>Game<span>Shark</span> 🎮🦈</h2>
    </div>

    <div class="searchbar">
        <input type="text" placeholder="Busca aqui...">
        <span><a href="#"><i class="fas fa-search"></i></a></span>
    </div>

    <div class="burgericon">
        <i class="fas fa-bars"></i>
    </div>

    <nav class="mainnav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Conocenos</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Promos</a></li>
            <li><a href="/mycart"><i class="fas fa-shopping-cart"></i>Mi Carrito</a></li>
            <li><span></span></li>
            <li> <% if (locals.user) { %>
                <span><%= user.first_name %></span>
                <img class="user_image" src= "/img/users/<%= user.image ? user.image : '' %>"
                alt="<%= user.first_name %>">
                <a href="/logout">Salir</a>
            <% } else { %>
                <a href="/login">Ingresa</a>
                 
            <% } %>
               </li>
            <li><a href="/register" class="rbutton">Registrate</a></li>
        </ul>
    </nav>
</header>